@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<EdwardShortener.Objects.UrlObject>
@if (@Model != null)
{
    <div>
        <div>
            <input id="copyLinkDv" value="@Model.shortUrl" class="text-center input-lg bg-primary form-control" style="color: blue" readonly onclick="javascript:copyLink();"/>
        </div>
        <div>
            <br>
            <p>@Model.created.ToShortDateString() - <a href="#">Details</a></p>
            <p><a href="@Model.longUrl"><b>@Model.longUrl</b></a></p> 
            <img/>
            
        </div>
    </div>
}
