@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<EdwardShortener.Objects.csvResponse> 
@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<html>
<head>

</head>
<body>

    <div class="container">
        <h1>CSV EdwarShortener</h1>
        <div id="actions">
            <a id="uploadFromFrom" href="#"> Short From Form </a>
            <a id="uploadFromFile" href="#"> Paste CSV File </a>
        </div>
        <br>
        <form action="/csv" method="post">
            <div id="uploadFromFileDv" class="form-group">
                <input type="text" rows="5"  class="form-control" name="urlList" placeholder="Paste your cvs file content here">
                <br>
            </div>
            <div id=uploadFromFormDV>
                <h4>
                    Enter your urls to short
                </h4>
                <div id="urlToshort">
                    <input type="text" name="urlList" class="form-control" placeholder="Enter UrlToShort">
                </div>
                <br>
            </div>
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Short'em All" />
            </span>
        </form>

        <div>
            @if (Model!=null)
            {
                <table>
                    @foreach (var urlResult in @Model.urlList)
                    {
                        <tr>
                            <td>@urlResult.ulr</td>
                            <td>@urlResult.status</td>
                        </tr>
                    }
                </table>
            }
        </div>

        <script>

            $("#uploadFromFile").hide();
            $("#uploadFromFormDV").hide();

            $("#uploadFromFrom").on('click', function () {
                $("#uploadFromFile").show();
                $("#uploadFromFormDV").show();
                $("#uploadFromFrom").hide();
                $("#uploadFromFileDv").hide();

            });

            $("#uploadFromFile").on('click', function () {
                $("#uploadFromFile").hide();
                $("#uploadFromFormDV").hide();
                $("#uploadFromFrom").show();
                $("#uploadFromFileDv").show();
            });

            $("#urlToshort").on('change', function () {
                $("#urlToshort").append(' <input type="text" name="urlList" class="form-control" placeholder="Enter UrlToShort"> ');
            });

        </script>

</body>
</html>
