@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<EdwardShortener.Objects.UrlObject>
@{
    Layout = null;
}
@if (Model != null)
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
        
        </div>
    </body>
    </html>
}
