@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<EdwardShortener.Objects.UrlObject>
@{
    Layout = "Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

       
</head>
<body>
    <div>
        <div id="leftSide">
            <div id="urlDiv" width="50%">
                <form action="/addUrl/" method="post">
                    <label id="pastLblId">Paste your long URL here:</label>
                    <input type="text" class="form-control" id="textInputId" value="" />
                    <input type="submit" class="btn-default" value="Shorten URL" />
                </form>
            </div>
        </div>
        

    </div>
</body>
</html>
